<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Add News</title>
		</head>
	<body>

		<h1>Form add News</h1>
		<form action="/news/save" method="post">
			<label>News Title</label>
			<input type="text" id="title" name="title" placeholder="news title"/>
			<br />
			<label>Summary</label>
			<input type="text" id="summary" name="summary" placeholder="news summary"/>
			<br />
			<label>Author Name</label>
			<input type="text" id="author" name="author" placeholder="Author Name"/>
			<br />
			<label>News Date</label>
			<input type="date" id="news_date" name="news_date" placeholder="News Date"/>
			<br />
			<label>News</label>
			<textarea id="news" name="news" rows="5" cols="30"></textarea>
			<br />
			<input type="submit" value="submit"/>
		</form>

	</body>
</html>